name: docker-protobuf

on:
  push:
    branches:
      - 'master'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: 使用Buildx
        uses: docker/setup-buildx-action@v1

      - name: 登录Docker中央仓库
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.USERNAME_DOCKER }}
          password: ${{ secrets.PASSWORD_DOCKER }}

      - name: 登录腾讯云
        uses: docker/login-action@v2
        with:
          registry: ccr.ccs.tencentyun.com
          username: ${{ secrets.USERNAME_CCR }}
          password: ${{ secrets.PASSWORD_CCR }}

      - name: 编译并提交到Docker中央仓库
        id: docker_build
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: |
            storezhang/protobuf:latest
            ccr.ccs.tencentyun.com/storezhang/protobuf:latest
            storezhang/protobuf:0.0.1
            ccr.ccs.tencentyun.com/storezhang/protobuf:0.0.1

      - name: 输出镜像编码
        run: echo ${{ steps.docker_build.outputs.digest }}
